body{
    background: black;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #174dfe;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    transform: translate(-50%);

}